

.about-container {
  background-color: white;
  height: 200px;
}

#sql {
  margin-top: 20px;
}

.fab {
  font-size: 100px;
  color: #EA5665;
}

.js {
  color:#EAE856;
}

.fa-react {
  color: #56EAE6;
}

.fa-node {
  color: #59CD12; 
}

#rails {
  width:100px;
  height: auto;
}

#mongo {
  width: 100px;
}

#postgresql {
  width: 100px;
  color: blue;
}

/* .post {
  /* color: #1191CD; */
/* } */