.tools {
  border-radius: 0px;
  background-color: rgb(53, 55, 60);
  text-align: center;
}

.about-container {
  background-color: rgb(53, 55, 60);
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.p {
  display: flex;
  width: 250px;
  align-items: center;
}



.fab {
  font-size: 100px;
  color: #EA5665;
}

.js {
  color:#EAE856;
}

.fa-react {
  color: #56EAE6;
}

.fa-node {
  color: #59CD12; 
}


#rails {
  width:100px;
  height: auto;
}

#mongo {
  width: 100px;
  background-color: rgb(20, 21, 24);
  /* padding: 20px; */
}

#postgresql {
  width: 100px;
  color: blue;
}

.description {
  color:white;
  writing-mode: vertical-rl;
text-orientation: upright;
}

/* .post {
  /* color: #1191CD; */
/* } */